/* custom css */
body {
    
    background-color:lightgray;
	font-family: verdana;
	margin: 0;
	padding 0;
	width: 100%;
}

a:hover {
	color: white;
}

a {
	color:yellow;
}

h1 {
	text-align: center;
	
}




li {

	margin:0 1%;
	padding:10px;
	width:30%;
	float: left;
	list-style: none;
	color: white;


}

li.one {

	background-color: red;
	margin: 0 1% 0 0;

}

li.two {
	background-color: green;
	margin: 0 0 0 0;
	
}

li.three {

background-color: purple;
margin: 0 0 0 1%;
}

h3 {
display: block;
text-decoration: none;

}